<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net471" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net471" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net471" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Razor" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Razor.Language" version="3.1.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Razor.Runtime" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net471" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.4" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.3.1" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.3.1" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="3.3.1" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.Razor" version="3.1.0" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="3.3.1" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite.Core" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="3.1.9" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="3.1.9" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.6" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.9" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Web.CodeGeneration" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Web.CodeGeneration.Contracts" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Web.CodeGeneration.Core" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Web.CodeGeneration.Design" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Web.CodeGeneration.Templating" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Web.CodeGeneration.Utils" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Web.CodeGenerators.Mvc" version="3.1.4" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.22" targetFramework="net471" />
  <package id="MySql.Data.EntityFrameworkCore" version="8.0.22" targetFramework="net471" />
  <package id="MySqlConnector" version="0.69.9" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NuGet.Frameworks" version="4.7.0" targetFramework="net471" />
  <package id="Pomelo.EntityFrameworkCore.MySql" version="3.2.4" targetFramework="net471" />
  <package id="Pomelo.JsonObject" version="2.2.1" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.2" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="2.0.2" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.2" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.2" targetFramework="net471" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net471" />
  <package id="System.Composition" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
</packages>